.container {
  height: 100vh;
  display: grid;
  grid-template-rows: 100px auto 100px;
  grid-template-columns: 30fr 70fr;
  /* grid-template: 100px 100px 100px / 100px 100px; shorthand */
  border: 3px solid black;

  /* this will aligning the items in horizontally and vertically center */
  /* justify-items: center;
  align-items: center; */

  /* this will fill all the width and height of item also it is default value */
  /* justify-items: stretch;
  align-items: stretch; */

  /* this will aligning the contaner in horizontally and vertically center */
  /* justify-content: center;
  align-content: center; */

  /* gaps  */
  row-gap: 10px;
  column-gap: 10px;
  /* gap:10px 20px; shorthand */
}

.box {
  /* height: 5rem;
  width: 5rem; */
  background-color: gold;
}

.box-a {
  grid-column: 1/3; /* start/end or we can place it at particular column number */
  grid-row: 2; /* start/end or we can place it at particular row number */

  /* grid-area: 1/1/1/3; also we have this property for particular number */
}
